.copyright__link {
  color: $lightblack;
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width) {
    justify-content: space-between;
    padding: 22px 0;
  }
}

.copyright__img {
  fill: $fillsvg;
}

.copyright__link:hover .copyright__img {
  fill: $green;
}

.copyright__link:focus {
  opacity: 0.3;
}

.copyright__text {
  font-size: 16px;
  line-height: 18px;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    padding-right: 22px;
  }
}
