.example {
  @media (max-width: $mobile-width) {
    background: $grey;
    padding: 28px 0 36px;
  }

  @media (min-width: $tablet-width) {
    padding: 43px 0 27px;
    border-top: 1px solid $menuborder;
    position: relative;
    margin-top: 101px;
  }

  @media (min-width: $desktop-width) {
    border: 0;
    padding: 124px 0 70px;
    margin-top: 0;
    overflow: hidden;
  }
}

.example__description {
  margin: 0 0 25px;
  color: $lightblack;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 54px;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    margin: 0 0 67px;
  }
}

.example__item {
  border: 1px solid $darkgrey;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 0;
  padding: 14px 0 10px;
  text-align: center;
  width: 44.5%;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding: 18px 0 10px;
  }
}

.example__name {
  font-style: normal;
  font-family: "Oswald", "Arial", sans-serif;

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.example__price {
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 28px;
    max-width: 174px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    text-align: left;
    margin-top: 57px;
  }
}

.example__text {
  color: $lightblack;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    line-height: 12px;
    color: $lightblack;
    margin: 5px auto -20px;
    padding: 0 20px;
    background: $grey;
    width: min-content;
  }

  @media (min-width: $tablet-width) {
    margin: 8px auto -16px;
    background: $white;
    width: max-content;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background: $grey;
  }
}

.example__slider {
  @media (max-width: $mobile-width) {
    margin-top: 40px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    position: absolute;
    right: 70px;
    top: -60px;
  }
}

.example__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 149px;
  }
}

@media (min-width: $tablet-width) {
  .example__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example__item--slim {
    margin-right: 42px;
  }

  .example__text br {
    display: none;
  }

  .example__before img {
    width: 354px;
    height: 620px;
  }

  .example__after img {
    width: 325px;
    height: 607px;
    margin-top: 7px;
  }

  .example::after {
    content: "";
    width: 100%;
    height: 462px;
    background: $lightgrey;
    left: 0;
    bottom: 0;
    display: block;
    z-index: -1;
    position: absolute;
  }
}

@media (min-width: $desktop-width) {
  .example__wrap {
    display: block;
  }

  .example__before img {
    width: 405px;
    height: 536px;
  }

  .example__after img {
    width: 325px;
    height: 654px;
    margin-top: 7px;
    position: relative;
    z-index: 2;
  }

  .example__box {
    display: block;
    position: relative;
  }

  .example__price span {
    padding-left: 58px;
  }

  .example__before {
    margin-right: -40px;
  }

  .example__after::before {
    content: "";
    width: 100%;
    height: 462px;
    background: #eaeaea;
    right: 0;
    bottom: 7px;
    display: block;
    z-index: 0;
    position: absolute;
    left: 53%;
  }
}
