.form {
  @media (min-width: $tablet-width) {
    padding-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 83px;
  }
}

.form__description {
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    margin-bottom: 38px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto 66px;
    padding: 0 0 0 110px;
  }
}

.form__target {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    min-width: 570px;
  }
}

.form__required {
  font-family: "Arial", sans-serif;
  display: block;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 16px;
    margin-top: 23px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 62px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 83px;
  }
}

.form__list {
  list-style: none;
  margin: 0;

  @media (max-width: $mobile-width) {
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__list--data {
  @media (max-width: $mobile-width) {
    padding-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    width: 46.5%;
    margin-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .form__list--contact,
  .form__list--more {
    padding: 0 40px;
  }

  .form__list--more {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
  }

  .form__bottom {
    display: flex;
    align-items: center;
  }

  .form__list--target {
    margin-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .form__list--target {
    border-top: 1px solid $bordercolor;
    border-bottom: 1px solid $bordercolor;
    padding: 28px 20px 23px;
  }
}

@media (min-width: $tablet-width) {
  .form__bottom.container {
    padding: 0 70px;
    margin-top: 10px;
  }

  .form__button {
    padding: 17px 64px 15px;
  }
}

.form__group {
  border: 0;
  position: relative;
  overflow-x: hidden;

  @media (max-width: $mobile-width) {
    padding: 35px 0 25px 0;
    margin: 27px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 77px 0 0;
    padding: 30px 30px 25px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 70px 65px 70px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.form__group::after {
  width: 100vw;
  height: 2px;
  content: "";
  background: $green;
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;

  @media (max-width: $mobile-width) {
    left: 20px;
    top: -11px;
  }

  @media (min-width: $tablet-width) {
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
  }
}

.form__group--contacts::after {
  @media (max-width: $mobile-width) {
    top: -35px;
  }
}

@media (max-width: $mobile-width) {
  .form__group--contacts .form__title {
    max-width: 217px;
  }

  .form__group--contacts {
    margin-bottom: 0;
  }

  .form__group--message {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 37px;
    padding-bottom: 22px;
  }

  .form__group--more {
    margin-top: 0;
    padding-top: 38px;
    margin-bottom: 13px;
  }

  .form__button {
    width: 100%;
  }
}

.form__title {
  background: $white;
}

@media (min-width: $tablet-width) {
  .form__group--message {
    margin-top: 40px;
  }

  .form__group--more {
    margin-top: 37px;
    padding-bottom: 7px;
  }
}

@media (max-width: $mobile-width) {
  .form__bottom {
    text-align: center;
  }
}

.form__wrap--target {
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.form__list--target {
  @media (min-width: $tablet-width) {
    padding: 25px 27px 30px;
    border: 1px solid $bordercolor;
  }
}

.form__wrap {
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form__list--contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__list--contact .form-input {
    width: 47%;
  }

  .form__bottom.container {
    padding: 0 110px;
    margin-top: 35px;
  }

  .form__button {
    min-width: 568px;
  }

  .form__wrap {
    margin-bottom: 69px;
  }

  .form__list--more {
    margin-top: 30px;
  }

  .form__group--more {
    margin-top: -1px;
  }

  .form__group--message {
    margin-top: 0;
  }
}
