.form-textarea {
  @media (max-width: $mobile-width) {
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.form-textarea__field {
  width: 100%;
  border: 1px solid $bordercolor;
  color: $lightblack;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;

  @media (max-width: $mobile-width) {
    height: 150px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $tablet-width) {
    height: 174px;
    padding: 10px 19px;
    font-size: 20px;
  }

  &::-webkit-input-placeholder {
    color: $lightblack;
  }

  &::-moz-placeholder {
    color: $lightblack;
    opacity: 1;
  }
}

.form-textarea__field:focus {
  border-color: $lightblack;
  border-width: 2px;
  padding: 9px 18px;
}

.form-textarea__field:hover {
  border-color: $borderradio;
}
