.form-input__label {
  margin-right: 12px;
  color: $lightblack;
  white-space: nowrap;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 19px;
  }
}

.form-input__field {
  border: 1px solid $bordercolor;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  color: $lightblack;

  @media (max-width: $mobile-width) {
    height: 45px;
    padding: 0 40px 0 15px;
    font-size: 16px;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 0 50px 0 19px;
    font-size: 20px;
  }

  &::-webkit-input-placeholder {
    color: $lightblack;
  }

  &::-moz-placeholder {
    color: $lightblack;
    opacity: 1;
  }
}

.form-input__field:focus {
  border-color: $lightblack;
  border-width: 2px;
  padding-left: 18px;
}

.form-input__field:hover {
  border-color: $borderradio;
}

.form-input__field:focus + .form-input__img--mail {
  stroke: $green;
}

.form-input__field:focus + .form-input__img--phone {
  fill: $green;
}

.form-error .form-input__field {
  border-color: $bordererror;
}

.form-error .form-input__img--mail {
  stroke: $bordererror;
}

.form-error .form-input__img--phone {
  fill: $bordererror;
}


.form-input {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  position: relative;

  @media (max-width: $mobile-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-input:last-child {
  margin-bottom: 0;
}

.form-input__img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.form-input__img--mail {
  stroke: $greydisabled;
}

.form-input__img--phone {
  right: 12px;
}

@media (min-width: $desktop-width) {
  .form__list--contact .form-input {
    margin-bottom: 0;
  }

  .form__list--contact .form-input:nth-child(n+3) {
    margin-top: 20px;
  }
}

input[type="number"] {
  appearance: textfield;
}
