.page-header {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 28px 30px 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 110px 72px;
  }
}

.page-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    padding: 11px 20px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__toggle {
    display: none;
  }

  .page-header__logo__img {
    display: block;
    width: 174px;
    height: auto;
  }

  .page-header__logo--text {
    display: none;
  }

  .page-header__logo {
    margin-right: 90px;
  }
}

@media (max-width: $mobile-width) {
  .page-header__toggle {
    width: 24px;
    height: 17px;
    cursor: pointer;
    border: none;
    z-index: 2;
    background: transparent;
    position: relative;
    padding: 0;
  }

  .page-header__toggle-line {
    width: 100%;
    height: 2px;
    display: block;
    background: $black;
    font-size: 0;
  }

  .page-header__toggle-line::before,
  .page-header__toggle-line::after {
    @include beforeAfter;
    width: 100%;
    height: 2px;
    background: $black;
  }

  .page-header__toggle-line::before {
    bottom: -1px;
  }

  .page-header__toggle-line::after {
    top: 0;
  }

  .page-header__toggle--active .page-header__toggle-line {
    background: transparent;
  }

  .page-header__toggle--active .page-header__toggle-line::before {
    transform: rotate(45deg);
    bottom: 7px;
  }

  .page-header__toggle--active .page-header__toggle-line::after {
    transform: rotate(-45deg);
    top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo__img {
    width: 202px;
  }
}

.page-header__logo-media:hover {
  opacity: 0.8;
}

.page-header__logo-media:focus {
  opacity: 0.6;
}
