.page-header {
  padding: 35px 0;

  @media (max-width: $tablet-width) {
    padding: 17px 0 16px;
    position: relative;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__right {
  display: flex;
  align-items: center;
}

.page-header__phone {
  font-size: 18px;
  line-height: 32px;
  text-decoration: underline;
  color: $black;
  position: relative;
  padding-left: 31px;
  font-weight: 500;
  display: block;
  margin-left: 41px;
  transition: color .3s;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover {
    color: $red;
  }
}

.page-header__phone svg {
  position: absolute;
  left: 0;
  top: 5px;
}

.page-header__logo {
  display: block;
  height: min-content;
  line-height: 0;

  img {
    width: 44px;
    height: 17px;
  }
}

.page-header__toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }

  @media (max-width: $tablet-width) {
    width: 72px;
    height: 100%;
    background-color: $red;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    width: 50px;
  }
}
