.page-main__title {
  font-weight: normal;
}

@media (max-width: $mobile-width) {
  .page-main__title {
    font-size: 36px;
    line-height: 36px;
    margin: 27px 0 40px;
    padding: 0 20px;
  }

  .page-main--pages {
    border-top: 1px solid $greyline;
    padding-bottom: 33px;
  }
}

@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0 30px 169px;
  }

  .page-main__title--form {
    padding: 0 70px 35px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px 165px;
  }

  .page-main--pages {
    position: relative;
  }

  .page-main__title--form {
    padding: 0 110px 58px;
  }

  .page-main__title--catalog {
    padding: 0 110px 172px;
  }
}
