.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $white;
  overflow-x: hidden;
  background: $white;
  color: $grey;
  font-family: 'Montserrat', sans-serif;
}
