.product__link {
  color: $greydisabled;

  @media (max-width: $mobile-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 34px;
    position: relative;
  }
}

@media (max-width: $mobile-width) {
  .catalog__list {
    padding-top: 35px;
    border-top: 1px solid $catborder;
  }

  .product:nth-child(odd) .product__link {
    margin-bottom: 23px;
  }

  .product:nth-child(even) .product__link {
    margin-bottom: 12px;
  }
}

@media (min-width: $tablet-width) {
  .product:nth-child(odd) img,
  .product:nth-child(even) img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
  }

  .product:nth-child(odd) img {
    top: -213px;
    width: 161px;
  }

  .product:nth-child(even) img {
    top: -240px;
    width: 168px;
  }
}

.product__img {
  display: block;
  margin: 0 auto;
}

.product__title {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: normal;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
    max-width: 70%;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    max-width: 152px;
    margin: 10px auto 24px;
  }
}

.product {
  @media (max-width: $mobile-width) {
    padding: 2px 20px 25px;
    border-bottom: 1px solid $catborder;
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    background: $lightgrey;
    padding: 148px 37px 40px;
    margin-bottom: 143px;
    width: 45.5%;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-right: 80px;
  }
}

.product__button {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 20px 12px;

  @media (min-width: $desktop-width) {
    max-width: 244px;
  }
}

.product--small {
  @media (max-width: $mobile-width) {
    padding: 12px 0 19px;
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 100%;
    background: transparent;
    border-top: 1px solid $borderradio;
    border-right: 1px solid $borderradio;
    border-left: 1px solid $borderradio;
    padding: 28px 38px 25px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 15px;
    border-right: 0;
    border-left: 0;
    align-items: center;
  }
}

.product--small .product__name {
  text-transform: uppercase;
  font-weight: normal;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 13px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 25px;
    max-width: 180px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.product--small .product__description {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.product__description p {
  font-family: "Arial", sans-serif;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 15px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
}

.product__description {
  @media (max-width: $mobile-width) {
    margin-top: -20px;
  }
}

@media (min-width: $tablet-width) {
  .product--small:last-child {
    border-bottom: 1px solid $borderradio;
  }

  .product__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product__description .product__text {
    margin-right: 55px;
  }

  .product:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .product--small .product__wrap {
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .product:nth-child(4n+4) {
    margin-right: 0;
  }

  .product__wrap {
    width: calc(100% - 282px);
  }

  .product__description .product__text {
    margin-right: 20px;
  }

  .product:nth-last-child(-n+4) {
    margin-bottom: 0;
  }

  .product--small .product__price {
    width: 16%;
  }

  .product--small .product__text {
    width: 65%;
  }

  .product--small .product__description {
    width: 47%;
  }
}

.product-more {
  @media (max-width: $mobile-width) {
    margin-top: -5px;
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    background: transparent;
    border: 2px solid $lightgrey;
    padding-top: 48px;
  }
}
