.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  @media (max-width: $tablet-width) {
    display: block;
    width: 100%;
  }
}

.site-list__link {
  color: $black;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  transition: color .3s;
}

.site-list__link:hover {
  color: $red;
}

.site-list__item {
  margin-right: 37px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 15px 35px 15px;
    background-color: $navitem;
    margin-bottom: 30px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::after,
    &::before {
      @include beforeAfter;
      width: 2px;
      height: 7px;
      background-color: $greyarrow;
      top: 50%;
      right: 35px;
    }

    &::before {
      transform: translate(0, -50%) rotate(45deg);
      transform-origin: bottom left;
    }

     &::after {
      transform: translate(0, -50%) rotate(-45deg);
      transform-origin: top left;
     }
  }
}
