.social {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile-width) {
    padding: 24px 0 18px;
    border-top: 1px solid $greyline;
    border-bottom: 1px solid $greyline;
  }
}

.social__item:nth-child(2) {
  @media (max-width: $mobile-width) {
    padding: 0 36px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.social__link:hover .social__img--vk,
.social__link:hover .social__img--insta {
  fill: $green;
}

.social__link:hover .social__img--facebook {
  stroke: $green;
}

.social__link:focus .social__img path {
  fill: $green;
}

.social__link:focus {
  opacity: 0.3;
}

.social__img--vk,
.social__img--insta {
  fill: $fillsvg;
}

.social__img--facebook {
  stroke: $fillsvg;
}

@media (min-width: $tablet-width) {
  .social__img--vk {
    width: 29px;
    height: 17px;
  }

  .social__img--insta {
    width: 23px;
    height: 23px;
  }

  .social__img--facebook {
    width: 15px;
    height: 29px;
  }
}
