img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;

  @media (max-width: $mobile-width) {
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.button {
  border: none;
  color: $white;
  text-transform: uppercase;
  background: $green;
  padding: 12px 0 10px;
  display: inline-block;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 59px 10px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 39px 12px;
  }
}

.button:hover {
  background: $greenhover;
}

.button:focus {
  background: $greenhover;
  color: $whitefocus;
}

.title-middle {
  margin-top: 0;
  font-weight: normal;

  @media (max-width: $mobile-width) {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 33px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.title {
  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 25px;
    padding: 0 15px 0 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
  }
}

.page__body {
  overflow-x: hidden;
}
