// Colors

$white: #FFFFFF;
$whitehover: rgba(255, 255, 255, 0.7);
$black: #141517;
$grey: #2C2E3F;
$red: #FE7865;
$orange: #F17D4B;
$greylight: rgba(44, 46, 63, 0.7);
$greytabs: rgba(44, 46, 63, 0.3);
$greyarrow: rgba(44, 46, 63, 0.5);
$blacklight: rgba(20, 21, 23, 0.7);
$blackhover: rgba(20, 21, 23, 0.6);
$redlight: rgba(254, 120, 101, .5);
$link: #000000;
$footerborder: #D7D9DF;
$footerlink: rgba(20, 21, 23, 0.5);
$navitem: #FBF8F8;
$success: #48494D;
// Viewports

$desktop-max: 1200px;
$tablet-width: 1023px;
$desktop-width: 1024px;
$mobile-width: 767px;

@mixin beforeAfter {
  content: "";
  display: block;
  position: absolute;
}
